.todo__alert{
    background-color:  #d1e7dd;
    border-color: #badbcc;
}
.todo__alert--success{
    padding: 10px 20px;
    color: #0f5132;
    font-weight: bold;
    font-size: 20px;
}
.todo__content{
}
.create-form{
    max-width: 1230px;
}
.create-form__item{

}
.create-form__item--input{


}
.create-form__button{
}
.create-form__button--submit{
    background-color: #000;
    color: #fff;
}

.todo-table{}
.todo-table__inner{}
.todo-table__row{}
.todo-table__header{
    font-weight: bold;
    font-size: 18px;
}
.todo-table__item{}

.update-form{}
.update-form__item{}
.update-form__item--input{}
.update-form__button{
}
.update-form__button--submit{
    background-color: #0000ff;
    border:transparent;
    border-radius: 10%;
    color: #fff;
}

.delete-form{}
.delete-form__button{
}
.delete-form__button--submit{
    background-color: #ff0000;
    border:transparent;
    border-radius: 10%;
    color: #fff;
}

